---
BasedOnStyle: LLVM
IndentWidth: '4'
PointerAlignment: Left
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpacesInConditionalStatement: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
...
